<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.srujan.com.gujaratitextreader" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Smart Gujarati Reader" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".CBListnerService" />
        <service android:name=".FloatingFaceBubbleService" />

        <receiver android:name=".StartAtBootServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>

                <category android:name="android.intent.category.HOME" >
                </category>
            </intent-filter>
        </receiver>

        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Example"
            android:label="@string/title_activity_example"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Survey"
            android:label="@string/title_activity_survey"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
